{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Run Command</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Run Command</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
              <strong>Run Command is used to run a command on server and provide output</strong>

              Please use below Options for Demo:
              &emsp; Server name: localhost
              &emsp; User name: demouser
              &emsp; Enter Command: Provide command which needs to executed on server in "," separated values
            </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#800000><strong>Failed</strong><font>
            <pre>
<strong>{{ error }}</strong>
            </pre>
            </p>
          </div>
        {% endif %}
        {% if commands %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
                <font color=##006400><strong>Execution Output</strong><font>
            </p>
            <p class="article-content">
            <pre>
{% for ins in commands %}
{{ ins }}
{% endfor %}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
