{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">File Systems</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
        <article class="media content-section">
         <p class="article-content">
         <strong>File Systems is used to display file systems available on servers
         File Systems is also used to create New file systems on servers</strong>

         Please use below Options for Demo:
         &emsp; Server name: localhost
         &emsp; User name: demouser
         &emsp; New File System: Provide ":" Delimited values to create file system
         &emsp; &emsp; DiskName:ParititionName:PhysicalVolume:VolumeGroup:LogicalVolume:Type:Size:MountPoint
         </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#800000><strong>Failed</strong><font>
            <pre>
            {% for errors in error %}
               <strong>{{ errors }}</strong>
            {% endfor %}
            </pre>
            </p>
          </div>
        {% endif %}
        {% if filesystemoutput %} 
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400 ><strong>Execution Output</strong><font>
            </p>
            <p class="article-content">
            <pre>
{% for ins in filesystemoutput %}
{{ ins }}
{% endfor %}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}

{% endblock content %}
