{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Monitor Linux Server</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
         <strong>Monitor Servers is used to obtain basic information from servers</strong>
         Example:
         &emsp;  Date
         &emsp;  Uptime
         &emsp;  VM Statistics
         &emsp;  File Systems
         &emsp;  Memory

         Please use below Options for Demo:
         &emsp;  Server name: localhost
         &emsp;  User name: demouser
         </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#800000><strong>Failed</strong><font>
            <pre>
<strong>{{ error }}</strong>
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
        {% if date %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Date</strong></font>
            <pre>
{{ date }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Uptime</strong></font>
            <pre>
{{ uptime }}
            </pre>
	    </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>VM Statistics</strong></font>
            <pre>
{{ vmstat }}
            </pre>
	    </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>File Systems</strong></font>
            <pre>
{{ filesystem }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Memory</strong></font>
            <pre>
{{ memory }}
            </pre>
	    </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
