{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Monitor Linux Server</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
            <pre>
Monitor Servers is used to obtain basic information from servers

Example:
    Date
    Uptime
    VM Statistics
    File Systems
    Memory

Please use below Options for Demo:
    Server name: localhost
    User name: demouser
            </pre>
            </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Error</a></h2>
            <p class="article-content">
            <pre>
<strong>{{ error }}</strong>
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
        {% if date %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Date</a></h2>
            <p class="article-content">
            <pre>
{{ date }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Uptime</a></h2>
            <p class="article-content">
            <pre>
{{ uptime }}
            </pre>
	    </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">VM Statistics</a></h2>
            <p class="article-content">
            <pre>
{{ vmstat }}
            </pre>
	    </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">File Systems</a></h2>
            <p class="article-content">
            <pre>
{{ filesystem }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Memory</a></h2>
            <p class="article-content">
            <pre>
{{ memory }}
            </pre>
	    </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
