{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Packages</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
            <pre>
Packages is used to list available packages on servers and also list specific package information
Packages also installs package on server

Please use below Options for Demo:
    Server name: localhost
    User name: demouser
    Show Package Info: Provide package name for which information should be displayed
    Install Package: Provide package name which needs to be installed on server
            </pre>
            </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#800000><strong>Failed</strong><font>
            <pre>
<strong>{{ error }}</strong>
            </pre>
            </p>
          </div>
        {% endif %}
        {% if packages %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Execution Output</strong></font>
            <pre>
{{ packages }}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
