{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Packages</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">List Packages</button>
                </div>
          </form>
        </div>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Packages installed</a></h2>
            <p class="article-content">
            <pre>
	        {{ packages }}
            </pre>
            </p>
          </div>
        </article>

{% endblock content %}
