{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">Services</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Execute</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
            <pre>
Services is used to Start/Stop/Restart or provide status of server.

Please use below Options for Demo:
    Server name: localhost
    User name: demouser
    Server Name: provide service name Ex:sshd
            </pre>
            </p>
        </article>
        {% if services %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Service Status</a></h2>
            <p class="article-content">
            <pre>
{{ services }}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}

{% endblock content %}
