{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">User Managment</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
            <pre>
Users is used to obtain available users and groups on servers

Please use below Options for Demo:
    Server name: localhost
    User name: demouser
    Add user: provide values in ":" delimited
              username:x:uid:gid:gecos:homedirectory:shell
            </pre>
            </p>
        </article>
        {% if users %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Users</a></h2>
            <p class="article-content">
            <pre>
{{ users }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title">Groups</a></h2>
            <p class="article-content">
            <pre>
{{ group }}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
