{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="content-section">
          <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                        <legend class="border-bottom b-4">User Managment</legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
          </form>
        </div>
         <article class="media content-section">
         <p class="article-content">
         <strong>Users is used to obtain available users and groups on servers</strong>

         Please use below Options for Demo:
         &emsp;  Server name: localhost
         &emsp;  User name: demouser
         &emsp;  Add user: provide values in ":" delimited
         &emsp;  &emsp;  username:x:uid:gid:gecos:homedirectory:shell
         </p>
        </article>
        {% if error %}
          <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#800000><strong>Failed</strong><font>
            <pre>
<strong>{{ error }}</strong>
            </pre>
            </p>
          </div>
        {% endif %}
        {% if users %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Users</strong></font>
            <pre>
{{ users }}
            </pre>
            </p>
          </div>
        </article>
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">
            <font color=#006400><strong>Groups</strong></font>
            <pre>
{{ group }}
            </pre>
            </p>
          </div>
        </article>
        {% endif %}
{% endblock content %}
